@using Monetrix.Enums
@model Monetrix.ViewModels.TransactionViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <div class="card shadow-lg bank-card">
        <div class="card-header-custom d-flex justify-content-center align-items-center rounded-top">
            <span>New Transaction</span>
        </div>

        <div class="card-body">
            <form asp-action="Create">
                <input type="hidden" asp-for="SenderAccountId" />
                <div asp-validation-summary="All" class="text-danger mb-3"></div>

                <div class="row g-3">
                    <div class="col-12">
                        <label asp-for="Amount" class="form-label"></label>
                        <input asp-for="Amount" class="form-control" />
                    </div>

                    <div class="col-12">
                        <label asp-for="TransactionDate" class="form-label"></label>
                        <input asp-for="TransactionDate" class="form-control" type="date" />
                    </div>

                    <div class="col-12">
                        <label asp-for="TransactionType" class="form-label"></label>
                        <select asp-for="TransactionType" asp-items="Html.GetEnumSelectList<TransactionType>()" class="form-control" id="transactionTypeSelect"></select>
                    </div>

                    <div class="col-12">
                        <label asp-for="Description" class="form-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                    </div>

                    <div class="col-12" id="receiverAccountDiv">
                        <label asp-for="ReceiverAccountNumber" class="form-label"></label>
                        <input asp-for="ReceiverAccountNumber" class="form-control" />
                    </div>
                </div>

                <div class="text-end mt-4">
                    <button type="submit" class="btn btn-primary me-2 px-4">Create</button>
                    <a asp-action="Details" asp-controller="Account" asp-route-id="@Model.SenderAccountId" class="btn btn-secondary px-4">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function toggleReceiverField() {
            var type = document.getElementById("transactionTypeSelect").value;
            var receiverDiv = document.getElementById("receiverAccountDiv");

            if (type == '2' || type == '0') {
                receiverDiv.style.display = 'none';
            } else {
                receiverDiv.style.display = 'block';
            }
        }

        document.getElementById("transactionTypeSelect").addEventListener("change", toggleReceiverField);
        window.onload = toggleReceiverField;
    </script>
}
